@font-face {
  font-family: 'Avenir';
  src: url("../fonts/Avenir/avenir_45_book.eot");
  src: url("../fonts/Avenir/avenir_45_book.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir/avenir_45_book.woff") format("woff"), url("../fonts/Avenir/avenir_45_book.ttf") format("truetype"), url("../fonts/Avenir/avenir_45_book.svg#avenir_45_book") format("svg");
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'Avenir';
  src: url("../fonts/Avenir/avenir_85_heavy.eot");
  src: url("../fonts/Avenir/avenir_85_heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir/avenir_85_heavy.woff") format("woff"), url("../fonts/Avenir/avenir_85_heavy.ttf") format("truetype"), url("../fonts/Avenir/avenir_85_heavy.svg#avenir_85_heavy") format("svg");
  font-weight: 800;
  font-style: normal
}

@font-face {
  font-family: 'Avenir';
  src: url("../fonts/Avenir/avenir_95_black.eot");
  src: url("../fonts/Avenir/avenir_95_black.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir/avenir_95_black.woff") format("woff"), url("../fonts/Avenir/avenir_95_black.ttf") format("truetype"), url("../fonts/Avenir/avenir_95_black.svg#avenir_95_black") format("svg");
  font-weight: 900;
  font-style: normal
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 16px;
  color: #222;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 400;
  background: #595a5c
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
ol,
ul,
code,
pre {
  margin: 0;
  padding: 0
}

li {
  display: block
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit
}

a {
  text-decoration: none;
  color: inherit
}

img {
  max-width: 100%;
  height: auto;
  border: 0
}

svg {
  display: block;
  width: 100%
}

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word
}

*,
:before,
:after {
  box-sizing: border-box
}

table {
  width: 100%;
  border-collapse: collapse
}

td,
th {
  padding: 0
}

th {
  text-align: left;
  font-weight: normal
}

.ajax-form__content {
  position: relative
}

.app-store-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.app-store-buttons__button {
  margin-right: 15px
}

.app-store-buttons__button img {
  width: 180px;
  height: auto;
  display: block
}

.app-store-buttons__button:hover {
  opacity: 0.8
}

.banner {
  background-image: url("../images/banner.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
  width: 116px;
  height: 36px;
  display: block;
  position: absolute;
  top: 29px
}

@media (min--moz-device-pixel-ratio: 1.3),
(-webkit-min-device-pixel-ratio: 1.3),
(min-device-pixel-ratio: 1.3),
(min-resolution: 1.3dppx) {
  .banner {
    background-image: url("../images/banner@2x.png");
    background-size: 116px 36px
  }
}

@media screen and (min-width: 1024px) {
  .banner {
    top: 67px;
    width: 184px;
    height: 57px;
    background-size: auto
  }
}

@media screen and (min-width: 1024px) and (min--moz-device-pixel-ratio: 1.3),
screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 1.3),
screen and (min-width: 1024px) and (min-device-pixel-ratio: 1.3),
screen and (min-width: 1024px) and (min-resolution: 1.3dppx) {
  .banner {
    background-image: url("../images/banner@2x.png");
    background-size: 184px 57px
  }
}

.btn {
  background: #f7cd42;
  display: block;
  border-radius: 6px;
  line-height: 25px;
  padding: 16px 35px;
  color: #fff;
  font-size: 14px;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
  border: none
}

.btn:hover {
  background: #f6c82e
}

a.btn {
  text-decoration: none !important
}

.btn--wide {
  display: inline-block;
  padding: 16px 60px;
  width: auto
}

.btn--red {
  background: #e33d32
}

.btn--red:hover {
  background: #e12c20
}

.circle-art {
  padding: 20px 0;
  text-align: center;
  font-family: "Avenir", Helvetica, Arial, sans-serif
}

.circle-art:hover {
  cursor: pointer
}

.circle-art:hover .circle-art__image img {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.1)
}

.circle-art__image {
  margin-bottom: 25px;
  max-height: 250px;
  position: relative
}

.circle-art__image img {
  transition: box-shadow 500ms cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 500ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 500ms cubic-bezier(0.19, 1, 0.22, 1), box-shadow 500ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 500ms cubic-bezier(0.19, 1, 0.22, 1), box-shadow 500ms cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 500ms cubic-bezier(0.19, 1, 0.22, 1);
  margin: 0 auto;
  display: block;
  max-height: 220px;
  box-shadow: 0 0px 0px transparent;
  border-radius: 100%
}

.circle-art__description {
  text-align: left
}

.circle-art__description p {
  font-size: 16px !important;
  line-height: 30px !important
}

.circle-art__label {
  font-size: 22px;
  line-height: 26px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 5px
}

.circle-art__preview {
  background: #fff;
  border-radius: 100%;
  width: 48px;
  height: 48px;
  background-image: url("../images/preview-icon.png");
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0px;
  right: 25%;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1)
}

.close-nav {
  border: 1px solid #595a5c;
  border-radius: 100px;
  font-size: 12px;
  padding: 6px 20px 4px;
  font-weight: 800;
  line-height: 25px;
  background: #595a5c;
  display: block;
  text-transform: uppercase;
  bottom: 25px;
  left: 50%;
  letter-spacing: 1px;
  color: #fff;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  position: fixed;
  z-index: 5
}

@media screen and (min-width: 1024px) {
  .close-nav {
    display: none
  }
}

.collapse {
  padding: 0 !important;
  margin: 0 !important
}

.errors {
  background: #e33d32;
  color: #fff;
  margin-bottom: 25px;
  padding: 16px;
  border-radius: 6px;
  list-style-type: disc
}

.errors__error {
  margin-bottom: 8px;
  display: list-item;
  margin-left: 1.4em
}

.errors__error:last-of-type {
  margin-bottom: 0
}

.faq-item__question {
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  margin-bottom: 25px;
  cursor: pointer
}

.faq-item__answer {
  display: none
}

.faq-item__question-arrow {
  display: inline-block
}

.faq-item__question--show .faq-item__question-arrow {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  color: #f2682b
}

.fluid-width-video {
  position: relative;
  padding-top: 56.25%
}

.fluid-width-video__iframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%
}

.form-control {
  border: none;
  border-radius: 3px;
  background: #fff;
  display: block;
  width: 100%;
  margin-bottom: 25px
}

input.form-control {
  padding: 15px;
  color: #595a5c;
  font-size: 16px;
  font-family: 'Roboto', Helvetica, Arial, sans-serif
}

textarea.form-control {
  padding: 15px;
  color: #595a5c;
  font-size: 16px;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  height: 126px
}

.full-slider {
  position: relative;
  width: 100vw;
  overflow: hidden
}

.full-slider__nav {
  display: none
}

@media screen and (min-width: 1024px) {
  .full-slider__nav {
    max-width: 1140px;
    position: relative;
    margin: 0 auto;
    display: block
  }
}

.full-slider__track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap
}

.full-slider__slide {
  width: 100vw;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.full-slider__nav-control {
  background-image: url("../images/next-slide-icon.png");
  width: 43px;
  height: 43px;
  position: absolute;
  top: 213px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 5;
  display: none
}

@media screen and (min-width: 1024px) {
  .full-slider__nav-control {
    display: block;
    cursor: pointer
  }
}

.full-slider__nav-control--next {
  right: 10px
}

@media screen and (min-width: 1024px) {
  .full-slider__nav-control--next {
    left: auto;
    right: 10px
  }
}

.full-slider__nav-control--previous {
  -webkit-transform: rotate(180deg) translateY(50%);
  transform: rotate(180deg) translateY(50%);
  left: 10px
}

@media screen and (min-width: 1024px) {
  .full-slider__nav-control--previous {
    left: 10px
  }
}

.how-it-works__play {
  background-color: transparent;
  background-image: url("../images/how-it-works-play.png");
  background-repeat: no-repeat;
  width: 173px;
  height: 173px;
  margin: 0 auto;
  margin-bottom: 25px;
  border: none;
  cursor: pointer
}

.how-it-works__video {
  width: 100%;
  display: none;
  opacity: 0
}

.how-it-works__primary {
  width: 100%
}

.how-it-works__video--show {
  display: block
}

.loading {
  position: relative
}

.loading:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-image: url("../images/loading.gif");
  background-position: center center;
  background-repeat: no-repeat
}

.mt1 {
  margin-top: 10px
}

.mb1 {
  margin-bottom: 10px
}

.mt2 {
  margin-top: 20px
}

.mb2 {
  margin-bottom: 20px
}

.mt3 {
  margin-top: 30px
}

.mb3 {
  margin-bottom: 30px
}

.mt4 {
  margin-top: 40px
}

.mb4 {
  margin-bottom: 40px
}

.mt5 {
  margin-top: 50px
}

.mb5 {
  margin-bottom: 50px
}

.mt6 {
  margin-top: 60px
}

.mb6 {
  margin-bottom: 60px
}

.mt7 {
  margin-top: 70px
}

.mb7 {
  margin-bottom: 70px
}

.mt8 {
  margin-top: 80px
}

.mb8 {
  margin-bottom: 80px
}

.mt9 {
  margin-top: 90px
}

.mb9 {
  margin-bottom: 90px
}

.mt10 {
  margin-top: 100px
}

.mb10 {
  margin-bottom: 100px
}

.masthead {
  background: #fff
}

.masthead__inner {
  height: 90px;
  position: relative
}

@media screen and (min-width: 1024px) {
  .masthead__inner {
    height: 178px
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  opacity: 0;
  pointer-events: none;
  transition: opacity 200ms ease-out
}

.modal--show {
  display: block;
  opacity: 1;
  pointer-events: all
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(89, 90, 92, 0.75)
}

.modal__box {
  border-radius: 6px;
  background: #fff;
  position: fixed;
  top: 30px;
  left: 30px;
  right: 30px;
  bottom: 30px;
  overflow: scroll
}

@media screen and (min-width: 1024px) {
  .modal__box {
    width: 630px;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    max-height: 800px;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%)
  }
}

@media screen and (min-width: 1024px) {
  .modal--large .modal__box {
    width: 1000px
  }
}

.modal__close {
  background: none;
  background-image: url("../images/modal-x.png");
  width: 24px;
  height: 24px;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  top: 5px;
  right: 5px;
  border: none;
  display: block;
  cursor: pointer
}

.modal__primary {
  padding: 30px 38px
}

.modal__header {
  font-size: 26px;
  line-height: 35px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 25px;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  font-weight: 800
}

.modal__content p {
  line-height: 25px;
  margin-bottom: 25px
}

.modal__content p a {
  text-decoration: underline;
  font-weight: 600
}

.modal__content ul {
  list-style: disc
}

.modal__content li {
  line-height: 25px;
  margin-bottom: 12px;
  display: list-item;
  margin-left: 1.4em
}

@media screen and (min-width: 1024px) {
  .modal__content p {
    font-size: 18px;
    line-height: 30px
  }

  .modal__content li {
    font-size: 18px;
    line-height: 30px
  }
}

.modal-input {
  border: 2px solid #ccc;
  display: block;
  width: 100%;
  height: 54px;
  border-radius: 6px;
  background: #fff;
  color: #595a5c;
  font-size: 14px;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  margin-bottom: 8px;
  padding: 10px 10px
}

.modal-label {
  font-weight: 600;
  margin: 15px 0 5px;
  display: block
}

.modal-resource {
  color: #595a5c;
  margin-bottom: 25px
}

.modal-resource__image {
  margin-bottom: 12px
}

.modal-resource__image img {
  display: block
}

.modal-resource__name {
  text-transform: uppercase;
  margin-bottom: 5px;
  line-height: 25px
}

.modal-resource__description {
  line-height: 25px
}

.pricing-model {
  background: #f7cd42;
  background-image: url("../images/double-arrow-purple.png");
  background-repeat: no-repeat;
  background-position: 50% 200px;
  background-size: 25px auto;
  border-radius: 100%;
  width: 256px;
  height: 256px;
  color: #fff;
  margin: 0 auto;
  margin-bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  box-shadow: 0 0 0 rgba(60, 46, 2, 0);
  transition: box-shadow 300ms ease-out, -webkit-transform 300ms ease-out;
  transition: box-shadow 300ms ease-out, transform 300ms ease-out;
  transition: box-shadow 300ms ease-out, transform 300ms ease-out, -webkit-transform 300ms ease-out;
  text-decoration: none !important
}

@media screen and (min-width: 1024px) {
  .pricing-model {
    width: 364px;
    height: 364px;
    background-size: 39px 53px;
    background-position: 50% 270px
  }
}

.pricing-model:hover {
  box-shadow: 0 12px 36px rgba(109, 83, 4, 0.2);
  -webkit-transform: translateY(-4px);
  transform: translateY(-4px)
}

.pricing-model__heading {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase
}

@media screen and (min-width: 1024px) {
  .pricing-model__heading {
    font-size: 35px;
    line-height: 46px
  }
}

.pricing-model__description {
  margin-top: 12px
}

@media screen and (min-width: 1024px) {
  .pricing-model__description {
    margin-top: 24px
  }
}

.primary-nav {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: #fff;
  z-index: 10;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  transition: -webkit-transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 400ms cubic-bezier(0.23, 1, 0.32, 1)
}

@media screen and (min-width: 1024px) {
  .primary-nav {
    position: absolute;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    display: block;
    top: auto;
    left: auto
  }
}

.primary-nav--show {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  overflow: scroll
}

@media screen and (min-width: 1024px) {
  .primary-nav--show {
    position: absolute;
    bottom: 0;
    top: auto;
    left: auto;
    right: 0;
    background: none
  }
}

.primary-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%
}

.primary-nav__list:after {
  content: '';
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(to top, #fff, #fff, rgba(255, 255, 255, 0));
  z-index: 2;
  height: 150px;
  pointer-events: none
}

.primary-nav__list li:last-of-type {
  padding-bottom: 150px
}

@media screen and (min-width: 1024px) {
  .primary-nav__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row
  }

  .primary-nav__list:after {
    display: none
  }

  .primary-nav__list li:last-of-type {
    padding-bottom: 0
  }
}

.primary-nav__link {
  display: block;
  height: 62px;
  line-height: 62px;
  padding: 0 16px;
  text-transform: uppercase;
  color: #595a5c;
  text-align: center;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  font-size: 16px;
  letter-spacing: 1px
}

.primary-nav__link:hover {
  color: #272728
}

@media screen and (min-width: 1024px) {
  .primary-nav__link {
    text-align: left;
    font-size: 14px;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    letter-spacing: 0;
    font-weight: 400
  }
}

.primary-nav__link.current-menu-item {
  color: #F24C02
}

@media screen and (min-width: 1024px) {
  .primary-nav__link.current-menu-item {
    color: #595a5c;
    box-shadow: inset 0 -3px #F24C02
  }
}

@media screen and (min-width: 1024px) {
  .primary-nav__link--subscribe {
    padding: 0 35px;
    background: #f7cd42;
    color: #fff;
    border-radius: 6px 6px 0 0;
    margin-left: 15px
  }

  .primary-nav__link--subscribe:hover {
    color: #fff;
    background: #f6c82e
  }
}

.primary-nav__link--subscribe.current-menu-item {
  box-shadow: none;
  color: #fff
}

.resource-download {
  margin-bottom: 25px;
  border: 1px solid #e6e6e6;
  border-radius: 6px;
  text-decoration: none !important;
  display: block;
  opacity: 0.8;
  transition: opacity 300ms cubic-bezier(0.19, 1, 0.22, 1)
}

.resource-download:hover {
  opacity: 1
}

.resource-download__image-container {
  display: block;
  position: relative;
  height: 180px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 6px 6px 0 0;
  border-bottom: 1px solid #e6e6e6
}

.resource-download__image-container img {
  width: 100%;
  display: block
}

.resource-download__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
  transition: 100ms ease-out opacity
}

.resource-download__button {
  max-width: 220px;
  margin: 0 auto;
  padding: 0 0 15px
}

@media screen and (min-width: 1024px) {
  .resource-download__button {
    width: 70%
  }
}

.resource-download__label {
  color: #606164;
  padding: 15px 20px;
  text-align: center;
  line-height: 20px;
  font-size: 14px
}

.resource-download__description {
  display: none
}

.site-card {
  min-height: 30vh;
  padding: 70px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%
}

.site-card p {
  line-height: 25px;
  margin-bottom: 25px
}

.site-card p a {
  text-decoration: underline;
  font-weight: 600
}

.site-card ul {
  list-style: disc
}

.site-card li {
  line-height: 25px;
  margin-bottom: 12px;
  display: list-item;
  margin-left: 1.4em
}

@media screen and (min-width: 1024px) {
  .site-card p {
    font-size: 18px;
    line-height: 30px
  }

  .site-card li {
    font-size: 18px;
    line-height: 30px
  }
}

.site-card__inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.site-card--blue {
  background: #95ccc9;
  color: #fff
}

.site-card--white {
  background: #fff;
  color: #595a5c
}

.site-card--grey {
  background: #E9E9E9;
  color: #595a5c
}

.site-card--red {
  background: #f99768;
  color: #fff
}

.site-card__header {
  font-size: 26px;
  line-height: 35px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 25px;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  font-weight: 800
}

.site-card__header--orange {
  color: #f2682b
}

.site-card--white {
  background: #fff;
  color: #595a5c
}

.site-card--white a {
  text-decoration: underline;
  font-weight: 600
}

.site-card__panel {
  margin: 25px 0
}

.site-footer {
  color: #fff;
  padding-top: 70px
}

.site-footer__inner {
  position: relative
}

.site-footer__heading {
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 14px;
  margin-bottom: 10px;
  text-align: center
}

@media screen and (min-width: 1024px) {
  .site-footer__heading {
    text-align: left
  }
}

.site-footer__link-list {
  margin-bottom: 25px;
  text-align: center
}

@media screen and (min-width: 1024px) {
  .site-footer__link-list {
    text-align: left
  }
}

.site-footer__link-list-link {
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  display: block
}

.site-footer__link-list-link:hover {
  color: #ccc
}

@media screen and (min-width: 1024px) {
  .site-footer__link-list-link {
    text-align: left
  }
}

.site-footer__copyright {
  text-align: center;
  padding: 30px 0;
  font-size: 14px
}

.site-footer__social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

@media screen and (min-width: 1024px) {
  .site-footer__social-links {
    position: absolute;
    top: 0;
    right: 0;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
  }
}

.site-footer__social-link {
  width: 30px;
  height: 30px;
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  margin-left: 14px
}

.site-footer__social-link--twitter {
  background-image: url("../images/c-twitter.png")
}

.site-footer__social-link--facebook {
  background-image: url("../images/c-facebook.png")
}

.site-footer__social-link--linkedin {
  background-image: url("../images/c-linkedin.png")
}

.split-slide {
  background: #E9E9E9;
  position: relative;
  color: #595a5c;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}

@media screen and (min-width: 1024px) {
  .split-slide {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
  }
}

.split-slide__bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%
}

@media screen and (min-width: 1024px) {
  .split-slide__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto
  }
}

.split-slide__bg-half {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 320px;
  width: 100%
}

@media screen and (min-width: 768px) {
  .split-slide__bg-half {
    height: 500px
  }
}

@media screen and (min-width: 1024px) {
  .split-slide__bg-half {
    width: 50%;
    height: auto
  }
}

.split-slide__bg-half--blank {
  display: none
}

@media screen and (min-width: 1024px) {
  .split-slide__bg-half--blank {
    display: block
  }
}

.split-slide__content {
  text-align: center;
  padding: 35px 0
}

.split-slide__content p {
  line-height: 25px;
  margin-bottom: 30px
}

@media screen and (min-width: 1024px) {
  .split-slide__content {
    width: 50%;
    padding: 50px;
    text-align: left
  }

  .split-slide__content p {
    line-height: 30px;
    font-size: 18px
  }
}

.split-slide__heading {
  font-size: 26px;
  line-height: 35px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 25px;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  font-weight: 800
}

.split-slide__button-container {
  width: 253px;
  margin: 0 auto
}

@media screen and (min-width: 1024px) {
  .split-slide__button-container {
    margin: 0
  }
}

.split-slide__button-container--extra-wide {
  width: 280px
}

@media screen and (min-width: 1024px) {
  .split-slide__button-container--extra-wide {
    width: 300px
  }
}

.split-slide__foreground {
  z-index: 2;
  position: relative
}

@media screen and (min-width: 1024px) {
  .split-slide__foreground {
    width: 100%
  }
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute !important
}

.success {
  background: #84C3BE;
  padding: 32px;
  text-align: center;
  color: #fff;
  border-radius: 6px;
  font-size: 20px
}

.success a {
  font-weight: 600;
  text-decoration: underline
}

.text-align-center {
  text-align: center
}

.text-align-right {
  text-align: right
}

.toggle-nav {
  border: 1px solid #595a5c;
  border-radius: 100px;
  font-size: 12px;
  padding: 6px 20px 4px;
  font-weight: 800;
  line-height: 25px;
  background: none;
  display: block;
  position: absolute;
  text-transform: uppercase;
  top: 27px;
  letter-spacing: 1px;
  color: #595a5c;
  right: 0;
  font-family: "Avenir", Helvetica, Arial, sans-serif
}

@media screen and (min-width: 1024px) {
  .toggle-nav {
    display: none
  }
}

.utility-nav {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  right: 0;
  display: none
}

.utility-nav li {
  margin-left: 30px
}

@media screen and (min-width: 1024px) {
  .utility-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
  }
}

.utility-nav__link {
  display: block;
  color: #afadad;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  font-size: 15px;
  letter-spacing: 1px;
  padding: 20px 0
}

.utility-nav__link:hover {
  color: #7d7979
}

.wrapper {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 30px;
  width: 100%
}