body {
  font-size: 1.12em !important;
}

/*
a.logo {
  text-transform: uppercase;
  font-weight: 700;
}

*/

.image.is-square {
  height: 320px;
  width: 240px;
}

.is-3by2 {
  height: 320px;
  width: 480px;
}
