@import "home";
@import "about";
// @import "contact";

.contact-us__btn {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
}


// .map {
// 	position: relative;
// 	padding-bottom: 80%;
// }