{{ define "main" }}

{{ if and (isset .Params "heroimage") (not (eq .Params.heroimage "")) -}}

{{ $fullpath := printf "%s%s" "/assets/images/" .Params.heroimage }}
<section class="hero is-medium">
  <header style="background-image: url('{{ $fullpath | relURL }}'); background-size: cover;">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title has-text-white">
          {{ .Title | markdownify }}
        </h1>

        {{ if .Params.Subtitle }}
        <h2 class="subtitle has-text-light">
          {{ .Params.Subtitle | markdownify }}
        </h2>
        {{ end }}
      </div>
    </div>
  </header>

  <!-- <figure class="image">
    <img src="{{ $fullpath | relURL }}" alt="{{ .Params.heroImageAlt }}" class="profile-img"
      data-target="modal-image2" />

    <div class="hero-body" style="border: 1px solid red"></div>
  </figure> -->
</section>
{{- else -}}
<section class="section">
  <div class="container is-fluid">
    <h1 class="title">
      {{ .Title | markdownify }}
    </h1>

    {{ if .Params.Subtitle }}
    <h2 class="font-weight-light font-italic mb-3">{{ .Params.Subtitle | markdownify }}</h2>
    {{ end }}

    <p class="text-muted mt-3">
      {{ range .Params.tags }}
      <a class="text-muted" href="{{ "/tags/" | relURL }}{{ . | urlize }}">#{{ . }}</a>
      {{ end }}
    </p>
  </div>
</section>
{{- end -}}

<section class="section">
  <div class="container is-fluid">
    {{ .Content }}
  </div>
</section>
{{ end }}