.footer {
  padding: 3rem 0 0 !important;
  background-color: rgba(61, 63, 62, 1) !important;

  .bottom {
    padding: 0 3rem !important;
    margin-top: 3rem;
    color: #888;
    background-color: rgba(44, 46, 46, 1);
  }

  .footer-column {
    padding-top: 20px;

    .column-header {
        text-transform: uppercase;
        color: #A9ABAC;
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 20px;
    }
    .column-item {
        padding-bottom: 10px;
        a {
            color: #A9ABAC;
            &:hover {
                color: $primary;
            }
        }
    }
  }
}
