.footer {
  padding: 3rem 0 0 !important;
  background-color: rgba(61, 63, 62, 1) !important;

  .bottom {
    padding: 0 3rem !important;
    margin-top: 3rem;
    color: #888;
    background-color: rgba(44, 46, 46, 1);
  }

  .footer-column {
    .column-header {
      text-transform: uppercase;
      color: #a9abac;
      font-size: 1rem;
      font-weight: 500;
      margin-bottom: 20px;
    }

    .column-item {
      padding-bottom: 10px;

      a {
        color: #a9abac;

        &:hover {
          color: $primary;
        }
      }
    }
  }

  .column-header {
    text-transform: uppercase;
    color: #a9abac;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 20px;
  }

  .footer-links-contact li svg {
    min-width: 16px;
    height: auto;
    margin-right: 8px;
    color: #a9abac;
  }

  .footer-links-contact li span {
    color: #a9abac;
  }

  a[href^='tel:'],
  a[href^='mailto:'] {
    color: #a9abac;
    text-decoration: none;
  }

  a[href^='tel:']:before {
    margin-right: 0.5em;
  }
}
