header {
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 10;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.025);
  @media (max-width: 768px) {
    padding: 0;
  }
  .logo {
    max-width: 150px;
    flex-grow: 1;
    padding: 0.675rem;
    margin-left: -0.675rem;
    &:focus {
      border-radius: 0.25rem;
      box-shadow: 0 0 4px 0px $primary;
    }
  }
  #nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.5rem;
    @media (max-width: 768px) {
      background-color: #fff;
    }
  }
}

