<form action="" class="contact-form">
    <div class="field">
        <label class="label">Name</label>
        <div class="control is-medium">
            <input class="input is-radiusless is-medium" type="text" placeholder="e.g Alex Smith" id="name"
                required="true">
        </div>
    </div>

    <div class="field">
        <label class="label">Email</label>
        <div class="control is-medium">
            <input class="input is-radiusless is-medium" type="email" placeholder="e.g. alexsmith@gmail.com" id="email"
                required="true">
        </div>
    </div>

    <div class="field">
        <label class="label">Message</label>
        <div class="control">
            <textarea class="textarea is-radiusless" placeholder="Textarea" id="message" required="true"></textarea>
        </div>
    </div>
</form>