<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ if .Page.Title }}{{ .Page.Title }} - {{ end }}{{ .Site.Title }}</title>

  {{ with .Site.Params.description }}
  <meta name="description" content="{{ . }}">{{ end }}
  <meta name="keywords" content="{{ $.Site.Params.keywords }}" />
  <meta name="theme-color" content="#ffffff" />

  {{ with .Site.Params.author }}
  <meta name="author" content="{{ . }}">{{ end }}

  <link rel="canonical" href="{{ .Permalink }}" />

  <script async src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh"
    crossorigin="anonymous"></script>

  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    integrity="sha384-kW+oWsYx3YpxvjtZjFXqazFpA7UP/MbiY4jvs+RWZo2+N94PFZ36T6TFkc9O3qoB"
    crossorigin="anonymous"></script>

  {{ range .AlternativeOutputFormats -}}
  {{ printf `<link rel="%s" type="%s+%s" href="%s" title="%s" />` .Rel .MediaType.Type .MediaType.Suffix .Permalink $.Site.Title | safeHTML }}
  {{ end -}}
  {{ partial "styles" . }}
  {{ partial "opengraph" . }}
  {{ partial "twittercard" . }}
  {{ partial "favicons" . }}
</head>