<nav role="navigation" aria-label="main navigation" class="navbar is-transparent main-nav">
  <div class="container">
    <div class="navbar-brand">
      <a href="{{ .Site.BaseURL }}" class="navbar-item logo" title="{{ .Site.Title }}">
        {{/* {{ .Site.Title }} */}}
        <img src="/assets/images/logo_transparent.png" alt="{{ .Site.Title }}">
      </a>
      <a role="button" id="nav-toggle" aria-label="menu" aria-expanded="false" data-target="ps-navbar"
        class="navbar-burger burger">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="navbar-prosightful" class="navbar-menu">
      <div class="navbar-end">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <div class="navbar-item">
          <a class="navbar-link is-arrowless {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}"
            href="{{ .URL }}" title="{{ .Title }}">
            {{ .Name }}
          </a>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</nav>