{{ define "main" }}

<section class="home">
  <div class="home__hero-container">
    <div class="home__hero-container__image"></div>
    <div class="home__hero-container__image-layer"></div>

    <!-- arrow -->
    <div class="t-cover__arrow">
      <div class="t-cover__arrow-wrapper t-cover__arrow-wrapper_animated">
        <div class="t-cover__arrow_mobile"><svg class="t-cover__arrow-svg" style="fill:#ffffff;" x="0px" y="0px"
            width="38.417px" height="18.592px" viewBox="0 0 38.417 18.592">
            <g>
              <path
                d="M19.208,18.592c-0.241,0-0.483-0.087-0.673-0.261L0.327,1.74c-0.408-0.372-0.438-1.004-0.066-1.413c0.372-0.409,1.004-0.439,1.413-0.066L19.208,16.24L36.743,0.261c0.411-0.372,1.042-0.342,1.413,0.066c0.372,0.408,0.343,1.041-0.065,1.413L19.881,18.332C19.691,18.505,19.449,18.592,19.208,18.592z">
              </path>
            </g>
          </svg></div>
      </div>
    </div>
    <!-- arrow -->

  </div>
</section>


<section class="section welcome">
  <div class="container has-text-centered">
    <h2 class="title">Welcome to ProSightful</h2>
  </div>

  <div class="container">

    <div class="columns is-mobile features">
      <!-- <div class="column is-1"></div> -->

      <div class="column is-6">
        <div>
          <p>
            Are you having significant challenges in your career or relationships, or seeking support in moving through
            a
            life or relational challenge? Does it feel like you are stuck in a relationship or a job where you still
            feel
            alone and can't move forward? Perhaps, somewhere along the way, you've lost your passion and now you feel
            like
            going through the motions. Sometimes we all need help in finding creative solutions or building strong
            relationships.
          </p>
        </div>

        <div>
          <p>ProSightful Counselors are here to help you in taking right steps to achieve your counseling or
            career goals. We will help you identify areas for change, think outside the box for new insights and
            solutions
            and learn tools to manage your life, career and enhance your relationships.
          </p>
        </div>

        <div>
          <p>Our goal is to empower you to access
            your own inner wisdom and resources to move forward. Our holistic approach incorporates body, mind and
            spirit
            to
            help you, your spouse or your family create your full personal and relational potential. We would be honored
            to
            support you on your journey.
          </p>
        </div>
      </div>

      <div class="column is-6">
        <figure class="image">
          <img src="/assets/images/gerald-igboanusi.jpg" alt="gerald igboanusi" class="profile-img"
            data-target="modal-image2">
          <div class="profile-img__layer"></div>
        </figure>
      </div>
      <!-- <div class="column is-1"></div> -->
    </div>
  </div>
</section>

<section class="container">
  <div class="container has-text-centered">
    <h2 class="title">Our Services</h2>
  </div>

  <div class="columns is-mobile features">
    <div class="column is-4">
      <div class="card is-shady">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="/assets/images/black-therapy.jpg" alt="Our Services" class="modal-button"
              data-target="modal-image2">
          </figure>
        </div>
        <div class="card-content">
          <div class="content">
            <h4>Individual Counseling</h4>
            <p>
              We assist individuals, children, teens and adults in exploring their personal, emotional, spiritual,
              career and psychological issues in a non-judgement caring environment.
            </p>
            <!-- <span class="button is-link modal-button" data-target="modal-image2">Image modal</span> -->
          </div>
        </div>
      </div>
    </div>

    <div class="column is-4">
      <div class="card is-shady">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="/assets/images/couple-counseling.jpg" alt="Placeholder image" class="modal-button"
              data-target="modal-image2">
          </figure>
        </div>
        <div class="card-content">
          <div class="content">
            <h4>Couple Counseling</h4>
            <p>
              We assist couples to learn healthy ways to communicate effectively and efficiently in order to create
              healthy intimacy.
            </p>
            <!-- <span class="button is-link modal-button" data-target="modal-image2">Image modal</span> -->
          </div>
        </div>
      </div>
    </div>

    <div class="column is-4">
      <div class="card is-shady">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="/assets/images/biracial-counseling.jpg" alt="Placeholder image" class="modal-button"
              data-target="modal-image2">
          </figure>
        </div>
        <div class="card-content">
          <div class="content">
            <h4>Family Therapy</h4>
            <p>
              We provide a solution-focused therapeutic process to assist each family member recognize and value each
              other.
            </p>
            <!-- <span class="button is-link modal-button" data-target="modal-image2">Image modal</span> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section reviews">
  <div class="container has-text-centered">
    <h2 class="title">Reviews from our clients</h2>
  </div>

  <div class="columns is-mobile">
    <div class="column is-half is-offset-one-quarter reviews-container">
      <blockquote>
        Talking with my therapist each week has helped me manage my relatioships and work stress better.
        I am now more calm and confident in myself.
        <footer>Elisa M.</footer>
      </blockquote>
    </div>
  </div>
</section>


<section class="section appointment">
  <div class="container has-text-centered">
    <h2 class="title">Call for a complimentary consultation</h2>
  </div>

  <div class="columns is-mobile">
    <div class="column is-half is-offset-one-quarter cta-container">

      <div itemscope itemtype="http://schema.org/LocalBusiness">
        <span itemprop="telephone">
          <a href="tel:+14024152052">
            Call now
          </a>
        </span>
      </div>
    </div>
  </div>
</section>

<!--





  <section class="home-hero">
  <figure class="image">
    <img src="/assets/images/biracial-counseling.jpg" alt="couple counseling">
  </figure>
  <div class="background-cover"></div>
</section>



<section class="hero">
  <figure class="image">
    <img src="/assets/images/biracial-counseling.jpg" alt="couple counseling 22">
  </figure>
</section>

<picture>
  <source media="(min-width: 450px)" srcset="/assets/images/biracial-counseling.jpg">
  <img src="/assets/images/biracial-counseling.jpg" alt="couple counseling image3 " class="timetable-img">
</picture>

<figure class="grid two">
  <img sizes="(min-width: 35em) 1200px, 100vw" srcset="
    /assets/images/biracial-counseling.jpg 500w, /assets/images/biracial-counseling.jpg 800w"
    src="/assets/images/biracial-counseling.jpg" alt="Selfie of me and Oskar the huskamute, he’s looking at me.">
</figure>

<figure class="grid two">
  <img sizes="(min-width: 35em) 1200px, 100vw" srcset="
    assets/images/biracial-counseling.jpg 500w, assets/images/biracial-counseling.jpg 800w"
    src="assets/images/biracial-counseling.jpg" alt="Selfie of me and Oskar the huskamute, he’s looking at me3.">
</figure>

 -->
{{/*
{{ partial "featuredimg" (dict "content" . "name" "claire" "imgSmall" "biracial-counseling.jpg" "imgLarge" "biracial-counseling")}}

{{ partial "featuredimg" (dict "content" . "name" "claire" "imgSmall" "assets/images/biracial-counseling" "imgLarge" "biracial-counseling")}}

{{ partial "featuredimg" (dict "content" . "name" "claire" "imgSmall" "biracial-counseling" "imgLarge" "biracial-counseling")}}

![alt text](/assets/images/biracial-counseling.jpg)

![alt text](/assets/images/biracial-counseling.jpg)

*/}}

<!--
<figure class="">
  <img class="is-pulled-right has-padding-m" width="200" data-caption="" alt=""
    src="/assets/images/biracial-counseling.jpg">
</figure>


<figure class="">
  <img class="is-pulled-right has-padding-m" width="200" data-caption="" alt=""
    src="/assets/images/biracial-counseling.jpg">
</figure>


<img src="/assets/images/biracial-counseling.jpg" alt="Screenshot of the Onion 1">
<img src="/assets/images/biracial-counseling.jpg" alt="Screenshot of the Onion 2">

<figure class="grid two" figcaption="Inevitable">
  <img src="/assets/images/biracial-counseling.jpg" alt="Selfie of me and Oskar the huskamute, he’s looking at me.">
  <img src="/assets/images/biracial-counseling.jpg" alt="Selfie of me and Oskar the huskamute, he’s licking my face.">
</figure>

<picture>
  <source media="(min-width: 450px)" srcset="/assets/images/biracial-counseling.jpg">
  <img src="/assets/images/biracial-counseling.jpg" alt="profile" class="img-fw profile-img minh-385">
</picture>



<picture>
  <source media="(min-width: 450px)" srcset="/assets/images/biracial-counseling.jpg">
  <img src="/assets/images/biracial-counseling.jpg" alt="profile" class="img-fw profile-img minh-385">
</picture>


<section class="section">
  <div class="container">
    <div class="columns">
      <p>
        I work with individuals and families looking to overcome personal challenges, such as marital issues, grief,
        depression, anxiety, anger, family conflict, relationship issues, a major life transition challenges or
        spirituality
        issues. I've spent nearly two decades in ministry-helping kids, teens, adults, parents, groups, and families
        navigate
        their unique situations. I have over 4 years of military service, traveled the world and embrace all peoples,
        cultures, and beliefs. I use a holistic, nonjudgment and multicultural approach to counseling. I am here to
        journey
        with you and to help you achieve your counseling goals if you let me.</p>
    </div>

    <div class="columns">
      <p>
        I work with teens and adults struggling with anxiety, anger, grief, depression, family conflict, marital or
        relationship issues, spirituality, self-esteem, suicide ideation and trauma using the solution-focused,
        person-centered or CBT methods. I believe in working with clients' strengths and support systems to enable them
        to
        meet their goals.
      </p>
    </div>

    <div class="columns">
      <p>
        My approach to counseling is a little different than what you may be used to. I use a holistic approach and will
        explore any issue with you, including spirituality issues. I believe in an in-home model to help you succeed
        which
        means my office is your home or my office. I will meet you where you are to help you achieve your desired
        counseling
        goals.
      </p>
    </div>
  </div>
</section>

<section class="hero">
  <figure class="image">
    <img src="/assets/images/biracial-counseling.jpg" alt="couple counseling image 1">
  </figure>
</section>

 -->

{{- if .Params.image }}
<div class="card-image"
  style="background-image:url({{ partial `assets_path.html` (dict `folder` .RelPermalink `assets` .Params.image) }});">

</div>
{{- end }}


<!--
<picture>
  <source media="(min-width: 450px)" srcset="/assets/images/biracial-counseling.jpg">
  <img src="/assets/images/biracial-counseling.jpg" alt="couple counseling image" class="timetable-img">
</picture>

<figure class="grid two">
  <img sizes="(min-width: 35em) 1200px, 100vw"
    srcset="/assets/images/biracial-counseling.jpg 500w, /assets/images/biracial-counseling.jpg 800w"
    src="/assets/images/biracial-counseling.jpg" alt="me">
</figure>

<figure class="grid two">
  <img sizes="(min-width: 35em) 1200px, 100vw" srcset="
      /assets/images/biracial-counseling.jpg 500w, /assets/images/biracial-counseling.jpg 800w"
    src="/assets/images/biracial-counseling.jpg" alt="hes d at me.">
</figure>


<figure class="grid two">
  <img sizes="(min-width: 35em) 1200px, 100vw" srcset="
      /assets/images/biracial-counseling.jpg 500w, /assets/images/biracial-counseling.jpg 800w"
    src="/assets/images/biracial-counseling.jpg" alt="NOOOO.">
</figure>

<figure class="grid two">
  <img sizes="(min-width: 35em) 1200px, 100vw" srcset="
      assets/images/biracial-counseling.jpg 500w, assets/images/biracial-counseling.jpg 800w"
    src="assets/images/biracial-counseling.jpg" alt="Oskar">
</figure>
 -->


{{/*

  {{ partial "featuredimg" (dict "content" . "name" "claire" "imgSmall" "biracial-counseling" "imgLarge" "biracial-counseling")}}

{{ partial "featuredimg" (dict "content" . "name" "claire" "imgSmall" "biracial-counseling.jpg" "imgLarge" "biracial-counseling")}}


{{ partial "featuredimg" (dict "content" . "name" "clairessss" "imgSmall" "biracial-counseling" "imgLarge" "biracial-counseling")}}

{{ partial "featuredimg" (dict "content" . "name" "claired" "imgSmall" "biracial-counseling" "imgLarge" "biracial-counseling")}}



![alt text 1](assets/images/biracial-counseling.jpg)
![alt text 2](assets/images/biracial-counseling.jpg)

![alt text 3](assets/images/biracial-counseling.jpg)
![alt text 4](assets/images/biracial-counseling.jpg)


![alt text 5](/assets/images/biracial-counseling.jpg)
![alt text 6](/assets/images/biracial-counseling.jpg)


![This is an image 3](assets/images/biracial-counseling.jpg)

![This is an image 1](/assets/images/biracial-counseling.jpg)
![This is an image 2](assets/images/biracial-counseling.jpg)


*/}}
<!--
<figure class="">
  <img class="is-pulled-right has-padding-m" width="200" data-caption="" alt="fg"
    src="assets/images/biracial-counseling.jpg">
</figure>


<figure class="">
  <img class="is-pulled-right has-padding-m" width="200" data-caption="" alt="ttt"
    src="assets/images/biracial-counseling.jpg">
</figure>


<img src="assets/images/biracial-counseling.jpg" alt="Screenshot of the Onion 1">
<img src="assets/images/biracial-counseling.jpg" alt="Screenshot of the Onion 2">


<figure class="grid two" figcaption="Inevitable">
  <img src="assets/images/biracial-counseling.jpg" alt="Selfie of me and Oskar the huskamute, he’s looking at me.">
  <img src="assets/images/biracial-counseling.jpg" alt="Selfie of me and Oskar the huskamute, he’s licking my face 4.">
</figure>

<picture>
  <source media="(min-width: 450px)" srcset="assets/images/biracial-counseling.jpg">
  <img src="assets/images/biracial-counseling.jpg" alt="profile3" class="img-fw profile-img minh-385">
</picture>


<picture>
  <source media="(min-width: 450px)" srcset="assets/images/biracial-counseling.jpg">
  <img src="assets/images/biracial-counseling.jpg" alt="profile2" class="img-fw profile-img minh-385">
</picture>


<picture>
  <source media="(min-width: 450px)" srcset="assets/images/biracial-counseling.jpg">
  <img src="assets/images/biracial-counseling.jpg" alt="profile1" class="img-fw profile-img minh-385">
</picture>
 -->

{{ end }}