{{ define "main" }}

<section class="hero">
  <figure class="image">
    <img src="../src/img/Black Couple Counseling.jpg" alt="couple counseling image">
  </figure>
</section>
<div class="row">
  I work with individuals and families looking to overcome personal challenges, such as marital issues, grief,
  depression, anxiety, anger, family conflict, relationship issues, a major life transition challenges or spirituality
  issues. I've spent nearly two decades in ministry-helping kids, teens, adults, parents, groups, and families navigate
  their unique situations. I have over 4 years of military service, traveled the world and embrace all peoples,
  cultures, and beliefs. I use a holistic, nonjudgment and multicultural approach to counseling. I am here to journey
  with you and to help you achieve your counseling goals if you let me.
</div>

<div class="row">
  I work with teens and adults struggling with anxiety, anger, grief, depression, family conflict, marital or
  relationship issues, spirituality, self-esteem, suicide ideation and trauma using the solution-focused,
  person-centered or CBT methods. I believe in working with clients' strengths and support systems to enable them to
  meet their goals.
</div>

<div class="row">
  My approach to counseling is a little different than what you may be used to. I use a holistic approach and will
  explore any issue with you, including spirituality issues. I believe in an in-home model to help you succeed which
  means my office is your home or my office. I will meet you where you are to help you achieve your desired counseling
  goals.
</div>
{{ end }}