{{ define "main" }}

<section class="home-hero">
	<figure class="image">
		<img src="/assets/images/family-2.jpg" alt="couple counseling" style="height: 380px">
	</figure>
	<div class="background-cover"></div>
</section>

<section class="section contact">
	<div class="container is-fluid has-text-centered">
		<h1 class="title">
			{{ .Title | markdownify }}
		</h1>
	</div>
</section>

<div class="container">
	<section class="section contact">
		<div class="container is-fluid">
			<div class="columns">
				<div class="column is-6">

					<div class="container">
						<div class="column">
							<h2 class="title">Send a message</h2>


							{{ partial "contact_form" . }}
						</div>
					</div>
				</div>

				<div class="column is-6">
					<div class="container">
						<div class="column">
							<h2 class="title">Be in touch</h2>
							<p>
								Please feel free to send a message or call with any questions.
							</p>

							<dl class="contact__list">
								<div class="contact__item">
									<dt>Address</dt>
									<dd>
										<small>2700 Marigold Lane, Avenue 234</small>
										<br>
										<small>68164</small>
										<br>
										<small>Omaha, NE</small>
									</dd>
								</div>

								<div class="contact__item">
									<dt>Email</dt>
									<dd>
										<small>
											<a href="mailto:gerald@prosightful.org">gerald@prosightful.org</a>
										</small>
									</dd>
								</div>

								<div class="contact__item">
									<dt>Phone / Fax</dt>
									<dd>
										<a href="tel:+14024152052">+1 402-415-2052</a>
										<br>
										<small class="color-contrast-medium">Mon - Fri, 8AM - 8PM</small>
										<br>
										<small class="color-contrast-medium">Saturday, 8AM - 8PM</small>
									</dd>
								</div>
							</dl>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

{{/*
	<div class="container">
		<div class="columns is-mobile">
			<div class="column is-6">
			</div>
			<div class="column is-6">
				<div aria-hidden="true" class="contact__map js-contact__map" data-coordinates="51.5658015,-0.40339">
					<!-- Google Map -->
				</div>
			</div>
		</div>
	</div>
	*/}}
</section>

{{/*


<!-- https://maps.googleapis.com/maps/api/staticmap?center=Brooklyn+Bridge,New+York,NY&zoom=13&size=600x300&maptype=roadmap
&markers=color:blue%7Clabel:S%7C40.702147,-74.015794&markers=color:green%7Clabel:G%7C40.711614,-74.012318
&markers=color:red%7Clabel:C%7C40.718217,-73.998284 -->
<!-- &key=AIzaSyAtDwFwo5sagJvr7Z0gCxhUq-KsFgk9kBc -->
<!-- https://maps.googleapis.com/maps/api/staticmap?40.714728,-73.998672 -->
<!-- https://maps.googleapis.com/maps/api/staticmap?size=400x400&zoom=12&center=40.714728,-73.998672&key=%27%27 -->
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key="></script>
<script>
	(function () {
		var center = new google.maps.LatLng(50.900217, 0.039475),
			mapOptions = {
				zoom: 15,
				center: center,
				minZoom: 5,
				maxZoom: 19,
				mapTypeControl: false,
				scrollwheel: false,
				zoomControl: false
			},
			map = new google.maps.Map(document.getElementById('map'), mapOptions);

		new google.maps.Marker(
			{
				position: center,
				map: map,
				visible: true,
				icon: {
					url: '../assets/images/pin.png'
				}
			}
		);

		map.setOptions({ styles: [{ featureType: 'all', stylers: [{ saturation: -100 }] }, { featureType: 'poi.business', elementType: 'labels', stylers: [{ visibility: 'off' }] }, { featureType: 'water', stylers: [{ lightness: -20 }] }] });
	})();
</script>
	*/}}

{{ end }}